# Core libraries for the application
jinja2>=3.0.0            # Flask templating engine
flask>=2.0.0             # Web framework
matplotlib>=3.5.0        # Plotting and chart generation
graphviz>=0.20.1         # B+ tree visualization

# Optional libraries
numpy>=1.23.0             # Array support for matplotlib
jupyter>=1.0.0            # For report notebook
# For memory profiling (optional)
psutil>=5.9.0
memory_profiler>=0.61.0